<h1>About me</h1>
<hr>
<div class="row">
  <div class="col-md-4">
    <%= image_tag "https://scontent-dfw5-2.xx.fbcdn.net/v/t1.15752-9/46677561_338738266911162_7873455659579080704_n.jpg?_nc_cat=109&_nc_ht=scontent-dfw5-2.xx&oh=8e5f79afec8343f5c275e3ef2a156da6&oe=5C6D5462", width: "100%", alt: "profile image" %>
  </div>

  <div class="col-md-8">
    <p>The best developer in the world!</p>
  </div>  
</div>

