<h1>About me</h1>
<hr>
<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.jpg", width: "100%", alt: "profile image" %>
  </div>

  <div class="col-md-8">
    <p>The best developer in the world!</p>
  </div>  
</div>

